.WelcomeText{

}
.AlignCanvasText{
    flex-direction: row;
    width: 60vw;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
}